[Unit]
Wants=lib32-ffmpeg-steam-libx.service
After=lib32-ffmpeg-steam-libx.path

[Service]
# yes, this is oneshot. Cannot use Steam until all symlinks is set
Type=oneshot
# just for beautiful green
RemainAfterExit=yes
ExecStop=mv %h/.local/share/Steam/ubuntu12_32/streaming_client_orig %h/.local/share/Steam/ubuntu12_32/streaming_client
