[Unit]
Wants=lib32-ffmpeg-steam.service

[Service]
Type=oneshot
# -
ExecStart=mkdir -p %h/.local/share/Steam/ubuntu12_32
# -
ExecStart=/bin/sh -c 'test -L %h/.local/share/Steam/ubuntu12_32/streaming_client || mv %h/.local/share/Steam/ubuntu12_32/streaming_client %h/.local/share/Steam/ubuntu12_32/streaming_client_orig'
ExecStart=-/usr/bin/ln -s /usr/bin/streaming_client_ld %h/.local/share/Steam/ubuntu12_32/streaming_client
